<!DOCTYPE html>
<html>
<head>
    <title>Account Info</title>
	<meta charset="utf-8" />
    <link href="~/Styles/Home.css" rel="stylesheet" />
    <link href="~/Styles/AccountInfo.css" rel="stylesheet" />
    <link href="~/Styles/favicon.ico" rel="shortcut icon">
</head>
<body>
    <form >
        

        

    </form>



    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
</body>
</html>
